html {
  --uno: select-none overscroll-none antialiased;

  color-scheme: light;

  body {
    --uno: text-sm transition-opacity-300;
  }

  &.dark {
    color-scheme: dark;
  }

  img {
    -webkit-user-drag: none;
  }

  button {
    outline: none !important;
  }
}
